{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": 0,
    "no-prototype-builtins": 0
  },
  "env": {
    "node": true,
    "es6": true
  }
}
